html, body{
	padding: 0;
	margin: 0; 
}
*{
	box-sizing: border-box;
}

body{
	background-color:#393E41;
	font-family: 'Open Sans', sans-serif;
}

.navigation .threeline-icon {
	display: none;
}

.botao_voltar{
	text-decoration: none;
	font-weight: 400;
	color:white ;
	font-size: 16px;
}
a{
	opacity: 1;
	transition: 0.5s;
}
a:hover{
	color: #1E2019;
	transition: 0.5s;
}
.caminho li{
	color: #D3D0CB;
}
.navigation{
	background-color:#393E41;
	color:#191516;
	height: 50px;

	animation-name: menu;
	animation-duration: 2s;

}

.navigation ul{
	margin-top:0;
	list-style: none;
	padding-left: 0;
	text-align: right;
	height: 60px;
}

.navigation li{
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	font-size: 16px;
	font-weight:800;


}

.navigation a{
	text-decoration: none;
	color:#D3D0CB;
}

.navigation a:hover{
	color:#1E2019;
}
.capa {
	color: white;
	vertical-align: top;
}

.capa span{
	color:#e86430;
	display: block;
}

.capa div{
	display: inline-block;
	height: 650px;

}

.profile_pic{
	width: 40%;
	text-align: center;

	
	animation-name:profile-capa ;
	animation-duration:2s ;
	transform: translate();
}

.profile_pic img{
		width: 280px;
		border-radius: 280px;
		margin-top:100px;
	}

.profile_title{
	vertical-align: top;
	width: 59%;

	

	}

	.profile_title{
		animation-name:titulo-capa ;
	animation-duration:1s ;
	}
	

	.profile_title h1{
		font-size: 60px;
		margin-top: 200px;
		color: #D3D0CB;
		text-transform:uppercase;
		font-weight: 700;
	line-height: 50px;}

	.profile_title h2{
		font-size: 20px;
		color:#D3D0CB;
		font-weight: 400;
		margin-top: -30px;

	}
	


	/*------------------------*/
	.main{
		padding:80px 180px 80px 100px;
		animation-name:main ;
		animation-duration:2s ;

	}

	.cv-pic{
		float:left;
		width:280px;
		margin-right: 20px;
		margin-bottom: 20px;
		border-radius: 250px;
		border: 4px solid black;
	}

	.main h1{
		color: #D3D0CB;
		font-weight: 600;
	}

	.main h2{
		color:white;
		font-weight: 16px;
		text-transform: uppercase;
		font-weight: normal;
		margin-top:40px;
	}

	.main h3{
		font-size: 12px;
		color: #cfcbc9;
		text-transform: uppercase;
	}

	.main p{
		color: #D3D0CB;
		font-weight: 100;
		font-size: 18px;
		line-height: 24px;
		text-align: justify;
	}


	/*----------------*/
	.caminho{
		list-style: none;
		padding-left: 0;
		color:grey;
	}

	.caminho li{
		display: inline-block;
	}

	.social-img{
		width: 50px;
		margin-right: 10px;
	}

	.miniatura{
	 	width: 320px;
		height:320px;
		display: inline-block;
		margin-right: 15px;
		margin-bottom: 15px;
		overflow: hidden;
		background-size: cover;
}
	.miniatura a { text-decoration: none; }

	.blackbox{
	width:100%;
	height: 100%;
	background-color:black;
	opacity: 0;
	transition: 1s;
	padding-top: 100px;
}

	.blackbox:hover{
		opacity: 0.8;
		transition: 0.5s;
	}

	.blackbox-text{
		text-align: center;
	}
	.blackbox-text h1{
		font-size: 16px;
		color: white;
		text-transform: uppercase;
	}

	.blackbox-text h2{
		
		text-transform: none;
		font-weight: 100;
	}

.foto-trabalho{
width: 100%;
margin-right: 10px 0;
box-shadow: 5px 5px 10px  rgb(29, 29, 30);

}


.iwhats{
	
	animation-name:whats ;
	animation-duration:2s ;
}
.igit{
	
	animation-name:git ;
	animation-duration:2s ;
}
.ilink{
	
	animation-name:link ;
	animation-duration:2s ;
}
 
    
    
    
    
    
    
    
    
    
    

